<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta http-equiv="Content-Language" content="en-us" />
  <title>Bootstrap</title>
  <link rel="alternate" type="application/atom+xml" title="API Changes" href="/changes.atom" />
  <link href="/css/main.css" media="screen" rel="stylesheet" type="text/css">
  <link href="/css/bootstrap.css" media="screen" rel="stylesheet" type="text/css">
  <link href="/css/docs.css" media="screen" rel="stylesheet" type="text/css">
  <link href="/css/syntax.css" media="screen" rel="stylesheet" type="text/css">
</head>

<body>
  <header class="navbar navbar-static-top bs-docs-nav" id="top" role="banner">
    <div class="container">
      <div class="navbar-header">
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="../" class="navbar-brand">Bootstrap</a>
      </div>
    <nav class="collapse navbar-collapse bs-navbar-collapse nav navbar-nav navbar-right" role="navigation">
      <ul class="nav navbar-nav">
        <li>
          <a href="../docs" onclick="ga('send', 'event', 'Navbar', 'Docs', 'Expo');">Documentation</a></li>
        <li>
        <li>
          <a href="../api" onclick="ga('send', 'event', 'Navbar',
            'Docs', 'Expo');">API</a></li>
        <li>
        <li>
          <a href="../support" onclick="ga('send', 'event', 'Navbar',
            'Docs', 'Expo');">Support</a></li>
        <li>
        <li>
          <a href="../changelog" onclick="ga('send', 'event', 'Navbar',
            'Docs', 'Expo');">Blog</a></li>
      </ul>
      <!--<ul class="nav navbar-nav navbar-right">
        <li><a href="http://expo.getbootstrap.com" onclick="ga('send', 'event', 'Navbar', 'Community links', 'Expo');">Expo</a></li>
        <li><a href="http://blog.getbootstrap.com" onclick="ga('send', 'event', 'Navbar', 'Community links', 'Blog');">Blog</a></li>
      </ul>-->
    </nav>
    </div>
  </header>

